.home-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
  width: 100%;
}

.home-format {
  padding: 10px 40px 10px;
  margin: 20px 0 20px;
}

.home-introduction {
  display: flex;
}

.home-text {
  padding: 10px;
}

.home-portrait-container {
  display: flex;
  width: 80%;
  max-width: 400px;
  height: 80%;
  max-height: 460px;
}

@media screen and (max-width: 500px), screen and (max-height: 500px) {
  .home-introduction {
    display: unset;
  } 
}